/* Work Sans font family imported from google */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Open+Sans:wght@400;700;800&family=Work+Sans:ital,wght@0,500;0,600;0,700;0,800;1,700&display=swap');

* {
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.primary-btn {
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 1em;
    font-weight: 600;
    border-radius: .2em;
    border: 0;
    background: #FF900E;
    padding: 1em;
    margin-bottom: 3em;
}

.header {
    background: rgba(255, 144, 14, 0.10);
}

nav {
    width: 80%;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h3 {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 2em;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    margin-right: 3em;
    color: var(--Dark-02, #424242);
    text-align: center;
    font-family: Work Sans;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.5;
}

.header>.title {
    text-align: center;
    width: 70%;
    margin: 0 15%;


}

.header>.title .heading {
    color: #131313;
    text-align: center;
    font-family: Work Sans;
    font-size: 2.5em;
    font-weight: 700;
}

.header>.title .description {
    color: #727272;
    text-align: center;
    font-family: Work Sans;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 2em;

}

header .banner {
    width: 80%;
    margin: 0 10% 2em 10%;
}

header .banner img {
    width: 100%;
    align-items: center;
    margin-bottom: 2em;
}


main {
    width: 80%;
    margin: 0 10%;
}


main .future {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 5%;
}

.future .team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.4em;
}

.future .team>img {
    width: 100%;
    height: auto;
}

.future>.content {
    width: 100%;
    height: auto;
    margin-left: 5em;
}

.experience {
    display: flex;
    position: relative;
    margin-bottom: 4em;

}
.orange-line{
    position: absolute;
    height: 5.8em;
    width: .3em;
    background-color: #FF900E;
    top: 3.3em;
}

.experience .container {
    width: 65%;
    height: auto;
    margin-right: 8em;
}

.experience .container .features .title {
    color: #131313;
    font-family: Work Sans;
    font-size: 3em;
    font-weight: 700;
    margin-left: 1em;

}

.experience .container .features .description {
    color: #727272;
    font-family: Work Sans;
    font-size: .9em;
    font-weight: 400;
    line-height: 1.5em
}

.experience .container .experience-explore {
    border-radius: .5em;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.experience .container .experience-explore h4 {
    color: #131313;
    font-family: Work Sans;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 0;
}

.experience .container .experience-explore p {
    color: #727272;
    font-family: Work Sans;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.5em;
    margin-top: 0;
}

.experience .profile-photo img {
    width: 100%;
    height: auto;
}

.experience .experience-10y {
    position: absolute;
    bottom: 0.3em;
    left: 50%;
    background-color: #FF900E;
    color: white;
    text-align: center;
    font-size: 3em;
    border: 0;
    border-radius: .2em;
}

.experience .experience-10y >small {
    font-size: .5em;
}
.facts-box{
    margin-bottom: 4em;
}
.facts-box .title-sec{
    width: 50%;
    justify-content: left;
    margin-bottom: 5em;
}

.facts-container{
    display: flex;
    justify-content: space-evenly;
}
.facts-container .facts{
    padding: 1.3em;
    width: 9em;
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: .2em;
}

.our-Sponspors{
text-align: center;
margin-bottom: 5em;
}
.our-Sponspors .title-sec{
    text-align: center;
    margin: 0 auto;
    width: 45%;
}
.our-Sponspors .title-sec .title{
    margin-bottom: 1em 0 ;
}
.our-Sponspors .title-sec .description{
    margin-bottom: 3.5em;
}

.our-Sponspors .sp-img{
    display: flex;
    justify-content: space-evenly;
}
.sp-img img{
    width:10%;
    height: auto;
    margin-right: 1em;
}
footer{
    margin-bottom: 8em;
}
footer .content{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF4E7;
}
footer p{
    margin-bottom: 2em;
    padding: 2em 0;
}